<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="addressbook" type="PeerReview.AddressBookSection, PeerReviewList"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <addressbook>
    <group value="Attendings" selected="true">
    </group>
    <group value="Dosimetrists" selected="false">

    </group>
    <group value="Physicists" selected="false">
    </group>
    <group value="ChiefTherapists" selected="false">
    </group>
    <group value="ResidentsPhysics" selected="false">
    </group>
    <group value="ResidentsMedical" selected="true">
    </group>
  </addressbook>
</configuration>
